body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.dashboard-container {
    /* max-width: 1200px; */
    margin: 0 auto;
    /* background-color: #fff; */
    padding: 20px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.loading {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    /* transition: opacity 0.3s ease; */
    /* opacity: .5; */
}

.loading h1 {
    display: none;
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;
}

.dash-header {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
}
.dash-header h1 {
    text-align: left;
    margin-bottom: 20px;
    color: #333;
}
.dash-header .dash-header__buttons {
    display: flex;
    gap: .5rem;
    align-items: center;
}
.dash-header .dash-header__buttons a {   
    position: relative;
    display: inline-block;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    transition: 0.5s;
    background-color: #EDEDED;
}
.dash-header .dash-header__buttons button {
    align-items: center;
    height: 35px;
    padding: 5px 20px;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    /* background-color: #007bff; */
    background-image: linear-gradient(to left, #FAA632, #C33539);
    color: white;
    border-radius: 4px;
    cursor: pointer;

    &.new {
        background-color: #16ad50;
    }
}

.metrics {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.metric {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    flex: 1 1 30%;
    text-align: center;
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); */
}

.metric h2 {
    margin-bottom: 15px;
    color: #555;
}

.metric p {
    font-size: 2em;
    color: #333;
}

#signer-stats {
    flex: 1 1 30%;
    width: 100%;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
}

#signer-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 2px;
    overflow-y: auto;
    max-height: 320px;

    .signer-box {
        display: flex;
        justify-content: space-between;
        background-color: #f9f9f9;
        border-bottom: 1px dashed #ddd;
        padding: 10px;
        color: #555;
        font-size: 14px;
        font-weight: 600;
    }
}

#item-distribution-chart {
    width: 100%;
    height: 300px;
}

/* Estilos do modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    width: 50%;
    min-width: 320px;
    border-radius: 8px;
    box-shadow: 4px 25px 50px 0px rgba(0, 0, 0, 0.2);
}
.modal-content .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.modal-content .modal-header h2 {
    margin: 0 0 20px 0;
    color: #333;
}
.modal-content .modal-header button {
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #777;
}

form {
    display: none;
    flex-direction: column;
    gap: 10px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.form-group label {
    font-size: 12px;
    color: #555;
    font-weight: 500;
}
.form-group input,
.form-group select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    color: #333;
    font-weight: 600;
    outline: none;
}
.form-group button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    margin-top: 30px;
    cursor: pointer;
    background-color: #16ad50;
    color: white;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    background-color: #16ad50;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    body {
        padding: 0;
    }
    .dashboard-container {
        padding: 10px;
    }
    
    .modal-content {
        width: 90%;
    }
}