@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Lato', sans-serif;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f4f4f4;
    height: 100%;
    margin: 0;
}

.container {
    width: 100%;
    padding-bottom: 42px;
    text-align: center;
}

.header {
    position: relative;
    width: 100%;
    /* height: 160px; */
    display: flex;
    padding: 20px 0;
    align-items: center;
    flex-direction: column;
    background-image: url("../banner.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
}

.layer {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
}

h1 {
    position: relative;
    color: #f2f2f2;
    font-size: 36px;
    z-index: 3;
    padding-left: 20px;
    /* background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block; */
    
    font-size: 2.5rem;
    font-weight: 900;
    text-shadow: 4px 3px 11px rgba(0,0,0, .1);
}

a {
    position: relative;
    display: inline-block;
    color: #FFF;
    text-decoration: none;
    background-image: linear-gradient(to left, #FAA632, #C33539);
    /* -webkit-background-clip: text;
    background-clip: text;
    border: 1px solid;
    border-image: linear-gradient(to left, #FAA632, #C33539) 1; */
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    transition: 0.5s;
    z-index: 3;
    text-shadow: 4px 3px 11px rgba(0,0,0, .1);
}
a::before {
    content: attr(href);
    display: none;
}

a:hover {
    color: transparent;
    background-image: linear-gradient(to left, #FAA632, #C33539);
    background-color: rgba(167, 127, 40, 0.8);
    color: #fff;
}

.columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    padding: 0 4%;
    margin-top: 20px;
}

.column {
    width: 45%;
}

h2 {
    text-align: center;
    color: #333;
    font-size: 28px;
    margin-bottom: 20px;
}

.icon-drink::before {
    content: "\1F964"; /* Unicode for drink emoji */
    margin-right: 8px;
}

.icon-meat::before {
    content: "\1F969"; /* Unicode for meat emoji */
    margin-right: 8px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(0, 0, 0, .03);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}

li span {
    flex: 2;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
    color: #333;
    padding-right: 5px;
}

.name-input {
    flex: 1;
    margin-right: 10px;
    padding: 8px;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 14px;
}

.confirm-btn {
    flex: 1;
    align-items: center;
    height: 35px;
    border: none;
    background-color: #007bff;
    /* background-image: linear-gradient(to left, #FAA632, #C33539); */
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.confirm-btn:disabled,
.confirmed-btn {
    background-color: #28a745;
    /* background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%); */
}

.confirmed-item {
    background-color: rgba(58, 180, 103, 0.5);
    /* background: rgb(131,58,180); */
    /* background: linear-gradient(90deg, rgb(58, 180, 103) 0%, rgba(29, 253, 167, 0.393)50%, rgb(69, 252, 209) 100%); */
}

@media screen and (max-width: 820px) {
    .columns {
        flex-direction: column;
        align-items: center;
    }

    .column {
        width: 100%;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 420px) {
    #beverage-list li span,
    #praotein-list li span {
        display: block;
        width: 100%;
    }
}

.loading {
    display: none;
    font-size: 32px;
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;
    margin-top: 10%;
}
